.flex {
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.flex > div {
  
  width: 300px;
  text-align: center;
  margin: auto;
  background-color: #111010;
}

.flex img {
  margin-top: .5rem;
  max-width: 200px;
}

.flex a {
  display: inline-block;
  border-radius: .5rem;
  margin: .5rem 0;
  padding: .2rem 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #CFCD3E;
  color: #820D0D;
}