.flexCard {
  margin: 1rem;
  background-color: #111010;
}

.flexCard > div {
  margin: 1rem 0;
  display: flex;
  gap: .5rem;
}

.flexCard img {
  height: 100px;
  width: 67px;
}

.flexCard p {
  font-size: medium;
}

.flexCard a {
  display: inline-block;
  border-radius: .5rem;
  margin: .5rem 0;
  padding: .2rem 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #CFCD3E;
  color: #820D0D;
}