h1,
h2 {
  font-size: xx-large;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header svg {
  height: 8rem;
  width: 10rem;
}

.header a {
  color: unset;
  font-size: large;
  padding: 1rem;
  font-weight: bold;
}

.header nav {
  margin: 2rem 0;
}

.header nav ul {
  display: flex;
}

.header nav ul li {
  box-shadow: 1px 0 0 0;
}

.header form {
  padding-left: 1rem;
}

.header svg {
  height: 100%;
  width: 100%;
  padding: 0 .5rem;
}

.btnMenu {
  display: none;
  max-width: 100%;
  max-height: 100%;
  border-radius: .5rem;
  padding: .3rem 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #CFCD3E;
  color: #820D0D;
}

.navigation {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .btnMenu {
    float: right;
    display: flex;
    margin: 1rem 0;
  }

  .btnMenuDisabled {
    visibility:hidden;
    opacity:0;
    height: 0;
    transition: all .3s linear;
  }

  .btnMenuActive {
    visibility:visible;
    opacity:1;
    height: 100%;
  }

  .btnMenuActive ul {
    display: inline-block;
    width: 100%;
  }

  .header form {
    margin: 2rem 0;
    display: block;
    margin: 1rem auto;
  }

  .navigation nav ul{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;    
  }

  .navigation {
    display: block;
  }

  .navigation nav ul li {
    box-shadow: 0 0 0 0;
  }

  .navigation nav ul li a {
    display: block;
    text-align: center;
  }
}