.movie {
  background-color: #111010;
  display: flex;
  gap: 1rem;
  margin: 0 1rem;
}

.movie p {
  text-align: justify;
  line-height: 1.7;
}

.movie p:last-child {
  line-height: 1;
}

.movie a {
  display: inline-block;
  border-radius: .5rem;
  margin: .5rem 0;
  padding: .2rem 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #CFCD3E;
  color: #820D0D;
}