@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  --color-first: #820D0D;
  --color-second: #CFCD3E;
  color: var(--color-first);
  background-color: #080808;
}


body {
  max-width: 1500px;
  margin: auto;
}

h1 {
  line-height: 1.3;
  font-family: 'Bungee Shade', cursive;
}

a.active {
  background-color: var(--color-second);
  border-radius: 1.1rem;
  transition: .3s ;
}

.container {
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.container > div {
  width: 300px;
  text-align: center;
  margin: auto;
  background-color: #111010;
}

.container img {
  margin-top: .5rem;
  max-width: 200px;
}

.container a {
  display: inline-block;
  border-radius: .5rem;
  margin: .5rem 0;
  padding: .2rem 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #CFCD3E;
  color: #820D0D;
}

.container-single {
  background-color: #111010;
  display: flex;
  gap: 1rem;
  margin: 0 1rem;
}

.container-single p {
  text-align: justify;
  line-height: 1.5;
  padding-right: 1rem;
}

.container-single a {
  display: inline-block;
  border-radius: .5rem;
  margin: .5rem 0;
  padding: .2rem 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #CFCD3E;
  color: #820D0D;
}

.btnNavigation button {
  display: inline-block;
  border-radius: .5rem;
  margin: .5rem 0;
  padding: .2rem 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #CFCD3E;
  color: #820D0D;
}

@media (max-width: 800px) {
  .btnNavigation {
    display: flex;
    margin-top: 4rem;
  }

  .btnNavigation button {
    font-size: x-small;
    padding: .1rem .3rem;
  }
}